<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>PoxNews Management</title>
    </head>
    <body style="margin-left: 10px">
        <h1>PoxNews Management - Author</h1>

        <h2>Add new Author</h2>

        <div style="padding-left: 10px">
            Enter name and press Submit:<br/>
            <form action="/author" method="POST">
                Name: <input class="form-group" type="text" name="name" id="name"/><br/>
                <input class="form-group" type="submit"/>            
            </form>
        </div>

        <h2>Current authors</h2>

        <ol style="padding-left: 10px">
            <li th:each="author : ${authors}">
                <span th:text="${author.name}">name</span>
                <form th:action="@{/author/{authorId}(authorId=${author.id})}" th:method="DELETE">
                    <input class="form-group" type="submit" value="Remove"/>
                </form><br/>
            </li>
        </ol>

        <div><a href="/management">management</a></div>
    </body>
</html>