<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>PoxNews Management</title>
    </head>
    <body>
        <h1>PoxNews Management - Category</h1>

        <h2>Add new Category</h2>

        <div>
            Enter name and press Submit:<br/>
            <form action="/category" method="POST">
                Name: <input type="text" name="name" id="name"/><br/>
                <input type="submit"/>            
            </form>
        </div>

        <h2>Current categories</h2>

        <ol>
            <li th:each="category : ${categories}">
                <span th:text="${category.name}">name</span>
                <form th:action="@{/category/{categoryId}(categoryId=${category.id})}" th:method="DELETE">
                    <input type="submit" value="Remove"/>
                </form><br/>
            </li>
        </ol>

        <div><a href="/management">management</a></div>
    </body>
</html>