<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>PoxNews Management</title>
    </head>
    <body>
        <h1>PoxNews Management - News</h1>

        <span th:text="${newsObject.title}">title</span><br/>
        <span th:text="${newsObject.ingress}">ingress</span><br/>
        <span><img th:src="@{/management/{id}/image(id=${newsObject.id})}"/></span><br/>
        <span th:text="${newsObject.text}">text</span><br/>
        <span th:text="${newsObject.releaseDate}">date</span><br/>
        <form th:action="@{/management/{newsObjectId}(newsObjectId=${newsObject.id})}" th:method="DELETE">
            <input type="submit" value="Remove"/>
        </form><br/>
    </body>
</html>