<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>PoxNews Management</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <h1>PoxNews Management</h1>
        <ul class="table" style="list-style-type:none">
            <li><a href="/newsobject">Add a new</a></li>
            <li><a href="/category">Add/Remove a category</a></li>
            <li><a href="/author">Add/Remove an author</a></li>
        </ul>

        <h2>News: </h2>

        <tr class="table">
            <td th:each="newsObject : ${news}">
                <span th:text="${newsObject.title}">title</span><br/>
                <span th:text="${newsObject.ingress}">ingress</span><br/>
                <span th:text="${newsObject.date}">date</span><br/>

                <br/>
                <div class="row">
                    <div class="col-md-2">Authors:</div>
                    <div class="col-md-2" th:each="author : ${newsObject.authors}" th:text="${author.name}">jcvd?</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Categories:</div>
                    <div class="col-md-2" th:each="category : ${newsObject.categories}" th:text="${category.name}">jcvd?</div>
                </div>
                
                <br/>
                <form th:action="@{/management/{newsObjectId}(newsObjectId=${newsObject.id})}" th:method="GET">
                    <input class="form-group" type="submit" value="Manage"/>
                </form><br/>
            </td>
        </tr>
        <div><a href="/">menu</a></div>
    </body>
</html>