<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>PoxNews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <div style="float:top; width:100%;">
            <h1> PoxNewsin eeppinen uutisivusto \o/ </h1>
            <div class="row" style="width:100%";>
                <div class="col-md-1"><a href="/news">home</a></div>
                <div class="col-md-1" th:each="category : ${categories}"><a th:href="@{'/news/category/' + ${category.name} + '?'}" th:text="${category.name}">title</a></div>
            </div>
            <br/>
        </div>
        <div style="float:left; max-width: 60%">
            <h2>News: </h2>

            <ul class="table" style="list-style-type:none">
                <li th:each="newsObject : ${news}" style="margin-bottom: 30px;">
                    <h2><a th:href="@{'/news/' + ${newsObject.id} + '?'}" th:text="${newsObject.title}">title</a></h2>
                    <h3 th:text="${newsObject.ingress}">ingress</h3>
                    <span><img th:src="@{/news/{id}/image(id=${newsObject.id})}"/></span><br/>
                </li>
            </ul>
            
            <div><a href="/">menu</a></div>
        </div>

        <div style="float:right; max-width: 40%; padding-right: 20px; padding-top: 15px; border-color: black; border-style: ridge">
            <ul class="table">
                <li style="list-style-type:none"><a href="/news/recent">Recent stories</a></li>
                <li th:each="newsObject : ${recentNews}">
                    <div><a th:href="@{'/news/' + ${newsObject.id} + '?'}" th:text="${newsObject.title} +' '+ ${newsObject.date}">title</a></div>
                </li>
            </ul>
            <ul class="table">
                <li style="list-style-type:none"><a href="/news/popular">Popular stories</a></li>
                <li th:each="newsObject : ${popularNews}">
                    <div><a th:href="@{'/news/' + ${newsObject.id} + '?'}" th:text="${newsObject.title} +' '+ ${newsObject.date}">title</a></div>
                </li>
            </ul>
        </div>
        
    </body>
</html>