<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>PoxNews Management</title>
    </head>
    <body style="margin-left: 10px">
        <h1>PoxNews Management - News</h1>

        <h2>Add a new</h2>

        <div style="padding-left: 10px">
            Enter title, ingress, image and text and press Submit:<br/>
            <form action="/newsobject" method="POST" enctype="multipart/form-data">
                Title: <input class="form-group" type="text" name="title" id="title"/><br/>
                Ingress: <input class="form-group" type="text" name="ingress" id="ingress"/><br/>
                Text: <input class="form-group" type="text" name="text" id="text"/><br/>
                <input class="form-group" type="file" name="file" id="file"/>
                <input class="form-group" type="submit"/>            
            </form>
        </div>

        <div><a href="/management">management</a></div>
    </body>
</html>